<!doctype html>
<html lang="">

<head>
	<meta charset="utf-8">
	<title>Sup Yall</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="vue.js"></script>

	<script src="routie.js"></script>
	<script src="https://unpkg.com/marked@0.3.6"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="main.css">

</head>

<body>
	<div id="app">

		<div id="header" class="">
			<h2>Patrick Thomison's Blog:</h2><h4>Distributed systems, containerization, and happy servers</h4>
		</div>

		<nav id="sidebar" class="col-3 nav flex-column">
			<ul class="nav nav-pills">
				<li class="nav-item">
					<a v-on:click="route('posts/1')" v-bind:class="{ active: pages['posts'].active }" class="nav-link page-link">Posts</a> 
				</li>
				<li class="nav-item">
					<a v-on:click="route('about-me')" v-bind:class="{ active: pages['about-me'].active }" class="nav-link page-link">About Me</a> 
				</li>
				<li class="nav-item">
					<a v-on:click="route('about-this-site')" v-bind:class="{ active: pages['about-this-site'].active }" class="nav-link page-link">About This Site</a> 
				</li>
			</ul>
		</nav>

		<div id="blog" v-if="pages['posts'].active" class="col-9">
			<post
			  v-for="post in posts"
			  v-bind:key="post.title"
			  v-bind:title="post.title"
			  v-bind:date="post.date"
			  v-bind:content="post.content"
			  v-bind:page="post.page"
			  v-if="post.page == page"
			></post>

			<nav class="pager">
			  <ul class="pagination justify-content-center">
			    <li class="page-item" v-on:click="pageDown"><a class="page-link">Previous</a></li>
			    <li class="page-item" v-for="n in totalPages" v-bind:class="{ active: page == n }" v-on:click="route('posts/' + n)"><a class="page-link">{{n}}</a></li>
			    <li class="page-item" v-on:click="pageUp"><a class="page-link">Next</a></li>
			  </ul>
			</nav>

		</div>		

		<div id="aboutMe" v-if="pages['about-me'].active" class="col-9">
			<div v-html="pages['about-me'].content"></div>
		</div>

		<div id="aboutThisSite" v-if="pages['about-this-site'].active" class="col-9">
			<div v-html="pages['about-this-site'].content"></div>
		</div>


	</div>	

</body>

<script src="main.js"></script>

</html>