@import "~bootstrap/scss/bootstrap";

@import './colors.scss';

body {
	max-width: 1200px;
	margin: auto;
	height: 100vh;
	background-color: $background-color;
}

hr {
	border-top: 1px solid $text-color;
	margin-top: 12px;
}

h1,h2,h3,h4,h5,h6,p,a {
	color: $text-color !important;
}

.hover:hover {
  color: $hover-color !important;
  transition: all 0.5s ease-out;
}