@import "~bootstrap/scss/bootstrap";

body {
	max-width: 1200px;
	margin: auto;
	height: 100vh;
}

hr {
	border-top: 3px solid white;
	margin-top: 12px;
}

p {
  color: white;
}

#header {
	min-height: 50px;
	color: white;

	padding: 10px;
}

#header h1,#header h2,#header h3,#header h4,#header h5,#header h6, #header p {
	padding: 0;
	margin: 0;

	color: white;
}

#header nav {
	justify-content: right; 
}

#header a {
	display: inline;
	color: white;
}